*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
i{
    color: rgb(252, 252, 252);
    margin-right: 45px;
}
.header{
width: 100%;
display: flex;
justify-content: space-around;
background-color: rgb(255, 255, 255); 
}
.caja1{
    width: 25%;
    height: 70px;
    background-color: black;
    text-align: center;
}
.sistemas{
    margin-top: 15px;
    font-size: 30px;
    }
.caja2{
    width: 75%;
    height: 70px;
    background-color: rgb(53, 54, 51);
    text-align: right;
    }
.iconos{
        font-size: 20px;
        margin-top: 20px;
        margin-right: 30px;
    }
.cuerpo{
width: 100%;
display: flex;
justify-content: space-around;
height: 600px;
background-color: rgb(255, 255, 255);
}
.cajon1{
    width: 25%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    }
.lado1{
    width: 100%;
    height: 340px;
    background-color: rgb(255, 255, 255);
}
.lado2{
    width: 100%;
    height: 280px;
    background-color: rgb(236, 117, 5);
}
.cajon2{
    width: 75%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    }
.cajoncito{
    width: 100%;
    height: 50px;
    background-color: rgb(236, 117, 5);
    border: 3px solid gainsboro;
    color: white;
    font-size: 25px;
}
.texto{
    margin-top: 10px;
    font-size: 22px;
    margin-left: 20%;
}
.vacio{
    margin-left: 6%;
    width: 94%;
    height: 40px;
    background-color: white;
}
h2{
    color: black;
    font-size: 20px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90%;
    background-color: rgb(255, 255, 255);
}
.bagon1{
    width: 98%;
    margin-top: 5px;
    height: 50px;
    background-color: white;
    border: 3px solid rgb(0, 0, 0);
}
.bagon2{
    width: 100%;
    margin-top: 5px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
h1{
    font-size: 25px;
    text-align: center;
    padding:7%;
    font-family: Arial, Helvetica, sans-serif;
}
.bagon21{
    width: 23%;
    height: 74px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
}
.bagon3{
    width: 100%;
    margin-top: 5px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.bagon31{
    width: 38%;
    height: 194px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    
}
.bagon32{
    width: 58%;
    height: 194px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    
}
.bagon4{
    width: 100%;
    margin-top: 5px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.bagon41{
    width: 76%;
    height: 194px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    
}
.bagon42{
    width: 20%;
    height: 194px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    
}
h3{
    color: black;
    font-size: 18px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    }
@media screen and (max-width:1300px ) {
    h1{
        font-size: 20px;
        text-align: center;
        padding:7%;
        font-family: Arial, Helvetica, sans-serif;
    }
    }
@media screen and (max-width:1100px ) {
        h1{
            font-size: 18px;
            text-align: center;
            padding:7%;
            font-family: Arial, Helvetica, sans-serif;
        }
        .sistemas{
            margin-top: 15px;
            font-size: 22px;
        }
        .texto{
            margin-top: 10px;
            font-size: 19px;
            margin-left: 20%;
        }
        }
@media screen and (max-width:970px ) {
            h1{
                font-size: 16px;
                text-align: center;
                padding:7%;
                font-family: Arial, Helvetica, sans-serif;
            }
            .sistemas{
                margin-top: 15px;
                font-size: 22px;
            }
            .texto{
                margin-top: 10px;
                font-size: 15px;
                margin-left: 20%;
            }
            }
@media screen and (max-width:850px ) {
                h1{
                    font-size: 14px;
                    text-align: center;
                    padding:7%;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .sistemas{
                    margin-top: 15px;
                    font-size: 20px;
                }
                .texto{
                    margin-top: 10px;
                    font-size: 12px;
                    margin-left: 20%;
                }
                }
@media screen and (max-width:750px ) {
                    h1{
                        font-size: 13px;
                        text-align: center;
                        padding:7%;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    .sistemas{
                        margin-top: 15px;
                        font-size: 17px;
                    }
                    .texto{
                        margin-top: 10px;
                        font-size: 12px;
                        margin-left: 20%;
                    }
                    }
                    h2{
                        color: black;
                        font-size: 20px;
                        padding: 8px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    h3{
                        color: black;
                        font-size: 15px;
                        padding: 8px;
                        font-family: Arial, Helvetica, sans-serif;
                        }
@media screen and (max-width:700px ) {
                        h1{
                            font-size: 12px;
                            text-align: center;
                            padding:7%;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        .sistemas{
                            margin-top: 15px;
                            font-size: 15px;
                        }
                        .texto{
                            margin-top: 10px;
                            font-size: 10px;
                            margin-left: 20%;
                        }
                        h2{
                            color: black;
                            font-size: 20px;
                            padding: 8px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        h3{
                            color: black;
                            font-size: 14px;
                            padding: 8px;
                            font-family: Arial, Helvetica, sans-serif;
                            }
                    }
@media screen and (max-width:650px ) {
    h1{
    font-size: 10px;
    text-align: center;
    padding:7%;
    font-family: Arial, Helvetica, sans-serif;
    }
    .sistemas{
    margin-top: 15px;
    font-size: 12px;
    }
    .texto{
    margin-top: 10px;
    font-size: 8px;
    margin-left: 20%;
    }
    h2{
    color: black;
    font-size: 18px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    }
    h3{
        color: black;
        font-size: 12px;
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        }
}
